import %workspace%/clang.bazelrc

# This flag hints Bazel about the use of incompatible platforms for repositories.
# Without this flag, Bazel may raise an error about a repo that is not compatible
# with a specific platform, even if it is not the actual platform it is building
# on.
build --noincompatible_use_platforms_repo_for_constraints

build --config=clang

test --test_output=errors

# This flag is needed for building LLVM.
build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17
