GenProtoBasedErrorCode!({{ for symbol in symbols }}{{ if symbol.trailing_comment }}\{
      kind: {symbol.trailing_comment},
      sym: {symbol.name},
      desc: "{symbol.leading_comment}",
      values: [
        {{ for v in symbol.values }}{v.name} => "{v.leading_comment}",
{{ endfor }}
      ],
  },
{{ endif }}{{ endfor }});
